{% extends "base.html" %}
{% block sitetitle %}<title>Silvan Adrian | Über mich</title>{% endblock %}

{% block boutlink %}<li><a class="active" href="/about/">Über mich</a></li>{% endblock %}
{% block content %}	

	

       <div id="aboutleft"><img src="/static/img/about.png" width="300" />
           <div class="netzwerke"><h2>Netzwerke</h2>
           <ul class="getintouch2">
                <a href="https://twitter.com/svennebanan_"><li class="fa-twitter"></li></a>
                <a href="https://github.com/silvanadrian"><li class="fa-github"></li></a>
               <!-- <a href="#"><li class="fa-linkedin"></li></a> -->
                <a href="skype:silvan.adrian?userinfo"><li class="fa-skype"></li></a>
                <!-- <a href="#"><li class="fa-vimeo-square"></li></a> -->
                <!-- <a href="#"><li class="fa-xing"></li></a> -->
            </ul></div>
       <div class="latesttweets"><h2>Letzte Tweets</h2>
       <a class="twitter-timeline"  width="300" height="500" href="https://twitter.com/Svennebanan_"  data-widget-id="408292770080489472">Tweets von @Svennebanan_</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
    

               
       </div>
       <div id="aboutright"><h2>Kurzbiografie</h2><p>Freiberuflicher Web Designer/Developer seit 2012, zusätzlich fotografiere ich gern.</p>
       <p> Ich habe eine Lehre als Informatiker Systemtechnik 2012 abgeschlossen, danach noch 1 Jahr gearbeitet.</p>
       <p>Seit neustem bin ich Student an der HSR (Hochschule für Technik Rapperswil).</p>
       
           
       <h2>Vita</h2>
           <div class="vitae">
               <h3>Fähigkeiten</h3>
                 <div class="vitaeinfo">
           <!-- <h4>Software</h4><p><ul><li>Office 2003/7/10/11</li><li>Photoshop</li><li>Windows XP/Vista/7</li><li>MAC OSX</li><li>Unix/linux</li><li>Cisco IOS</li></ul></p></div> -->
                   
           <ul><li><p class="description">HTML/CSS</p><p>7 Jahre</p></li>
               <li><p class="description">PHP (Wordpress)</p><p> 2 Jahre</p></li>
               <li><p class="description">Python (Django)</p><p> halbes Jahr</p></li>
               <li><p class="description">ANSI C</p><p> 1 Jahr</p></li>
               <li><p class="description">Java</p><p> halbes jahr</p></li>
               <li><p class="description">Ruby on Rails</p><p> halbes jahr</p></li>
               <li><p class="description">Javascript (Jquery)</p><p> 1 Jahr</p></li>
               <li><p class="description">SQL/MySQL</p><p> 2 Jahre</p></li>
                       
                       
                       </ul></div></div>
           <div class="vitae">
        <h3>Ausbildung</h3>
            <div class="vitaeinfo">
                <span class="vitaedate">2008 - 2012</span>
           <h4>Berufsschule Uster</h4><p>4 järige Ausbildung zum Informatiker Systemtechnik EFZ inklusive Berufsmatura</p></div>
                  <div class="vitaeinfo">
                <span class="vitaedate">2013 - jetzt</span>
           <h4>Hochschule für Technik Rapperswil</h4><p>Seit dem 16. September 2013 am Bachelor of Science Richtung Informatik studieren.</p></div>
        </div>
               
               
       
        
           
           <div class="vitae">
               
               
               
       <h3>Berufserfahrung</h3>
                 <div class="vitaeinfo">
                <span class="vitaedate">2012 - 2013</span>
           <h4>1st/2nd Level Supporter inkl. Netzwerk</h4><p>Zwischenjahr nach Lehre bei Huber+Suhner weitergearbeitet, als 1st/2nd Level Supporter inlusive Netzwerk/IP Telefonie Support.</p></div></div>
               <div class="vitae"></div></div>
       <!-- <h3>Zertifikate/Kurse</h3>
                 <div class="vitaeinfo">
                <span class="vitaedate">2008 - 2012</span>
           <h4>Eidgenösissches Fähigkeitszeugnis</h4><p>Eidgenössisches Fähigkeitszeugnids für die Lehrausbildung von 2008 bis 2012</p></div>
                   
                   <div class="vitaeinfo">
                <span class="vitaedate">2008 - 2012</span>
           <h4>Berufsmatura Zeugnis</h4><p>Lehrbegeleitende Berufsamatura abgeschlossen.</p></div>
      
                <div class="vitaeinfo">
                <span class="vitaedate">2008 - 2012</span>
           <h4>Lehrzeugnis</h4><p>Zeugnisbewertung für die Lehrausbildung ausgestellt durch Huber+Suhner.</p></div>
                   
              <div class="vitaeinfo">
                <span class="vitaedate">2008</span>
           <h4>Cisco Networking for Home and Small Business</h4><p>Cisco Kurs zur Vertiefung der Netzwerkkenntnisse.</p></div>
                   
                   
                <div class="vitaeinfo">
                <span class="vitaedate">2011</span>
           <h4>Cisco Working for Small-to-Medium Business or ISP</h4><p>Cisco Kurs zur erweiterten Vertiefung der Netzwerkkenntnisse.</p></div>     
              -->     
         {% endblock %}
           
           
           
   
