{% extends "base.html" %}

{% block sitetitle %}<title>Silvan Adrian | Kontakt</title>{% endblock %}
{% block kontaktlink %}<li><a class ="active" href="/contact/">Kontakt</a></li>{% endblock %}

{% block content %}	
		
		<section id ="content">
            <section class="formleft"><h2>Fragen?</h2>
            <p>Erreichbar bin ich unter der Mailadresse: <a href="mailto:hallo@silvanadrian.ch" >hallo@silvanadrian.ch</a></p>
            <p>Schon lange ein Projekt im Sinn jedoch nicht die richtige Person zum Umsetzten gefunden?</p>
            <p>Anbei findest du ein Projektformular um die wichtigsten Daten einzutragen und dann kann schon losgehen.</p>
            <p>Ich beantworte generell alle Anfragen innerhalb von 24 Stunden, also Nachricht senden und Antwort abwarten :)</p>
            <p>Ich bin ebenfalls auf anderen Netzwerken und Kanälen erreichbar (im Footer und in der Über mich Seite findet man diese).</p>
            <p>Eine Telefonnummer sucht man hier vergebens, daher zuerst mal eine Nachricht an mich senden.</p>
            </section>
            <section class="formright">
                <h2>Projektanfrage</h2><br>
            <p>Vielen Dank für die Anfrage!</p>
            <i class="fa-smile-o"></i>
               
            </section>
        <sectin class="clearfix"></sectin>
        </section>

 {% endblock %}