{% extends "base.html" %}
{% block sitetitle %}<title>Silvan Adrian | Blog</title>{% endblock %}
{% block bloglink %}<li><a class ="active" href="/blog/">Blog</a></li>{% endblock %}
{% block content %}
<div id="blognavi">
             <a class="fa-rss" href="/blog/rss/"></a></div>
{% for post in blogposts %}
<article class="blogarticle">
     <h2>{{ post.title }}</h2>
    <h3>{{ post.date_created|date:"d.F, Y" }}</h3>
    <ul class="taglist">
    {% for tag in post.tags.all %}
        <li>{{ tag.name }}</li>
    {% endfor %}
    </ul>
<div class="blog">

    {{ post.text_html|safe|truncatewords:120 }}
    <p><a href="{{ post.get_absolute_url }}"><span class="blogarrow">&rarr;</span>weiterlesen</a></p>
    </div>
    </article>
{% empty %}
    <h2>No blogposts. :(</h2>
{% endfor %}



{% endblock %}

